In [ ]:
"""
1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.


*              Expressions
'hello'        Value    
-87.8          Value
-              Expressions 
/              Expressions
+              Expressions
6              Value


"""

In [ ]:
"""
2. What is the difference between string and variable?

String: It is a value which in text and it should be enclosed in single/double quotes and it is one of the type of Data types. 
like "sudh", "100", "iNeuron1","abc_1@gmail.com"

Variable: It holds value of different different data types e.g, Integer, String, Boolean, float etc. 
Like a= 10 , b= "python" here a holds numeric value and b holds string value
"""

In [ ]:
"""
3. Describe three different data types.

In Python, there is no specific way to delcare data type of a variable. Whatever data type of value we assign to a variable,
the variable become that data type.

a. Numeric Types- 

Int: It takes integer value

X= 10

Float: It takes decimal value

Y= 1.2432

Complex:

complx= 3+7j


b. Text type- 

String: Anything enclosed in single/double quotes is string.

n= "sudh"
g= "100"
h= "iNeuron1"
email="abc_1@gmail.com"

c. Sequence Type:

List: It helps us to store multiple data in single variable. It has all the items in []

l=['sudh','abc_22@gmail.com', 12, {'k1':'assd','k2':123}, (1,2,3), {6,7,8,6,5,5,4,7}]

Tuple: 

t=(1,2,3)

"""

In [ ]:
"""
4. What is an expression made up of? What do all expressions do?

Expression is made up of values and operator which produce a different results.

Lets take a expamle of 

a.Mathematical expression:

a=8
b=3
c= a+b (Additional mathematical expression)
d= a/b (Divisional ME)

b. Logical expression:

a=8
b=8
c=5

d=(a==b)

e=(a==c)



"""

In [ ]:
"""
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In case of expression, we are doing some calculation and expression gives us caluatlated result based on the 
operation we mentioned
like a=3+5, it gives us value of a as 8.

On the other hand statement simply assign the value to the varibale it does do any calculation.
like a=3, the a has 3 as a value.
"""

In [ ]:
"""
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1


"""
bacon has 23 as a value

In [ ]:
"""
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3


"""
'spam' + 'spamspam'......>>'spamspamspam'
'spam' * 3...............>>'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
"""
8. Why is eggs a valid variable name while 100 is invalid?

"""
The valid variable name should start with a alphabet or undersocre (_) only.. We can not start variable name with 
any number or special characters. 
Below are the examples

In [18]:
_a=4
_a
str(_a)

'4'

In [14]:
d='sudh'
d

'sudh'

In [17]:
p1='555'
p1

'555'

In [15]:
100="sudh"

SyntaxError: cannot assign to literal (3962278059.py, line 1)

In [16]:
@aa=9

SyntaxError: invalid syntax (653766283.py, line 1)

In [19]:
"""
9. What three functions can be used to get the integer, floating-point number, or string version of a value?


"""

_a=4
_a
c='10'
b=int(c) #Convert a number or string to an integer, or return 0 if no arguments are given.
d=str(_a) #Create a new string object from the given object.
e=float(c) #Convert a string or number to a floating point number, if possible.

In [23]:
c,type(c), b, type(b)

('10', str, 10, int)

In [24]:
_a,type(_a), d, type(d)

(4, int, '4', str)

In [25]:
c,type(c), e, type(e)

('10', str, 10.0, float)

In [28]:
"""
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'


"""
"""The reason of error here is we are trying to concatenate two different data types i.e. string and int. 
As we can see 99 is the int type of data.
To fix the expression error, we need to convert 99 (int data type) to string data type"""

expre= 'I have eaten ' + 99 + ' burritos.'
expre

TypeError: can only concatenate str (not "int") to str

In [29]:
expre1= 'I have eaten ' + '99' + ' burritos.'
expre1

'I have eaten 99 burritos.'